<html>
	<head>
		<title>历下控股集团</title>
	   <meta charset="UTF-8">
	   <link rel="stylesheet" type="text/css" href="__MOBILE_CSS1__/css.css"/>
	   <style>
	   		.keyi{width:80%;margin:0 auto;padding:10% 0;}
.shouxie>a{display:block;font-size:42px;}
.shouxie{padding:5% 3%;border-left:5px dashed #E34536;  position: relative;}
.di{width:30px;height:30px;border-radius:100%;background-color:#E12E22; position: absolute;top:33%;left:-2%;}
.shouxie{width:90%;margin-left:5%;}
.shauwa{position:fixed;top:0;left:0;width:100%;height:100%;z-index:888;}
	   </style>
	</head>
	<body style="background:#FFF;">
		<img src="__MOBILE_IMG1__/251.jpg" style="width:100%;">
		<div class="shouxie">
<div class="di"></div>
		   <a href="#" >
                                          <div>山东民营联合投资控股股份有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="#">
                                          <div>山东大学齐鲁医学院</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="#">
                                          <div>北京中旗教育科技有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>10))}">
                                          <div>中国科学院大学</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>11))}">
                                          <div>济南金融控股集团</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>12))}">
                                          <div>加拿大富邦国际投资有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>13))}">
                                          <div>山东师大基础教育集团</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>14))}">
                                          <div>齐鲁交通发展集团</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>15))}">
                                          <div>众泰证券股份有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>15))}">
                                          <div>山东省金融资产交易中心</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>15))}">
                                          <div>格力电器山东分公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>15))}">
                                          <div>山东鲁信投资控股集团</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>15))}">
                                          <div>分享通信集团</div>
                                       </a>
		
		</div>
<img src="__MOBILE_IMG1__/moban.jpg"style="width:100%;">
<div class="shauwa"></div>
		<!--<img src="img/hao.jpg" style="width:100%;">-->
	</body>
</html>