<html>
	<head>
		<title>历下控股集团</title>
	   <meta charset="UTF-8">
	   <link rel="stylesheet" type="text/css" href="__MOBILE_CSS1__/css.css"/>
	   <style>
	   		.gissia{position:fixed;bottom:34.5%;left:29%;z-index:999;}
	   		.gissias{position:fixed;bottom:17.5%;left:29%;z-index:999;}
	   	.gissia>a,.gissias>a{font-size:46px;}
.dalwkdo{font-size:120px;font-weight:bold;color:#bb0c1b;}
.meiiuouaew{display:flex;width:100%; align-items: center;}
.zijaiw{margin-left:10px;margin-top:10px;}
body{overflow:hidden;}
.shauwa{position:fixed;top:0;left:0;width:100%;height:100%;z-index:888;}
	   </style>
	</head>
	<body style="background:#FFF;">
		<img src="__MOBILE_IMG1__/ren.jpg" style="width:100%;height:100%;">
		<div class="gissia">
		   <a href="{:url('Mindex/page',array('type'=>2))}"class="meiiuouaew">
<div class="dalwkdo">01</div>
<div class="zijaiw">
		   	<div>公司简介</div>
		   	<div>Company profile</div>
</div>
		   </a>
		</div>
		<div class="gissias">
		   <a href="{:url('Mindex/page',array('type'=>7))}"class="meiiuouaew">
<div class="dalwkdo">02</div>
<div class="zijaiw">
		   	<div>组织架构</div>
		   	<div>organi structure</div>
</div>
		   </a>
		</div>
		<div class="shauwa"></div>
	</body>
</html>