<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <a href="http://lixiakonggu.youfai.cn/index.php/home/Mindex/page?type=1" style="display:block;">
<img src="__MOBILE_IMG__/jianjie.png">
<div>公司简介</div>
 </a>
  <a href="http://lixiakonggu.youfai.cn/index.php/home/Mindex/page?type=9" style="display:block;">
<img src="__MOBILE_IMG__/xiangmu.png">
<div>项目展示</div>
 </a>
  <a href="http://lixiakonggu.youfai.cn/index.php/home/Mindex/page?type=4" style="display:block;">
<img src="__MOBILE_IMG__/ziyuan.png">
<div>战略资源</div>
 </a>
</body>
</html>