<html>
	<head>
		<title>历下控股集团</title>
	   <meta charset="UTF-8">
	   <link rel="stylesheet" type="text/css" href="__MOBILE_CSS1__/css.css"/>
	   <style>
	   		.keyi{width:80%;margin:0 auto;padding:10% 0;}
.shouxie>a{display:block;font-size:42px;}
.shouxie{padding:5% 3%;border-left:5px dashed #E34536;  position: relative;}
.di{width:30px;height:30px;border-radius:100%;background-color:#E12E22; position: absolute;top:33%;left:-2%;}
.shouxie{width:90%;margin-left:5%;}
.shauwa{position:absolute;top:0;left:0;width:100%;height:100%;z-index:888;}
.dawf{position:relative;}
	   </style>
	</head>
	<body style="background:#FFF;">
		<div class="dawf">
		<img src="__MOBILE_IMG1__/250.jpg" style="width:100%;">
		<div class="shauwa"></div>
	</div>
		<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>7))}" >
                                          <div>济南中央商务区投资建设有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>8))}">
                                          <div>济南市历下区国有资产运营有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>9))}">
                                          <div>济南市历下区城市更新建设发展有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>10))}">
                                          <div>济南明府城投资建设有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>11))}">
                                          <div>济南科金投资管理有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>12))}">
                                          <div>山东丽山教育投资有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>13))}">
                                          <div>济南易通城市建设集团股份有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>14))}">
                                          <div>济南历下金控投资管理有限公司</div>
                                       </a>
		
		</div>
<div class="shouxie">
<div class="di"></div>
		   <a href="{:url('Mindex/page1',array('type'=>15))}">
                                          <div>济南历下绿城物业管理有限公司（参股）</div>
                                       </a>
		
		</div>
		<div class="dawf">
<img src="__MOBILE_IMG1__/moban.jpg"style="width:100%;margin-top:-5%;">
	<div class="shauwa"></div>
	</div>
		<!--<img src="img/hao.jpg" style="width:100%;">-->
	</body>
</html>