<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>{$title}</title>
	<link rel="stylesheet" href="__MOBILE_DIST__/idangerous.swiper.css">
	<link  rel="stylesheet" href="__MOBILE_CSS__/css.css">
	<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css" />
    <script charset="utf-8" type="text/javascript" src="http://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
    <script type="text/javascript" src="__MOBILE_JS__/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="__MOBILE_CSS__/font-awesome.css"/>
    <script type="text/javascript" src="__MOBILE_JS__/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="__MOBILE_JS__/layui-v2.2.6/layui/css/layui.css"  media="all">
    <script type="text/javascript" src="__MOBILE_DIST__/idangerous.swiper.min.js"></script>
	<script type="text/javascript" src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="__MOBILE_JS__/iscroll.js"></script>
	<script type="text/javascript" src="__MOBILE_JS__/navbarscroll.js"></script>
	</head>
	<body>
		<block name="style"></block>
		<block name="body"></block>
		<block name="script"></block>
	</body>
</html>

