<div class="dibudaohang ci-tinaskdwiwa">
   <div class="anhui">
      <div class="liulna">各省浏览</div>
      <div class="bumanyi">
        <foreach name="data" item="item">
          <a href="#">{$item.intial}{$item.name}</a>
        </foreach>
          <!-- <a href="#">A安徽</a>
          <a href="#">A安徽</a>
          <a href="#">A安徽</a>
          <a href="#">A安徽</a>
          <a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a><a href="#">A安徽</a> -->
      </div>
          <div class="liulna meifashu">分类浏览</div>
      <div class="bumanyi">
          <a href="#">拟建项目</a>
          <a href="#">拟建项目</a>
          <a href="#">拟建项目</a>
          <a href="#">拟建项目</a>
          <a href="#">拟建项目</a>
          <a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a><a href="#">拟建项目</a>
      </div>
   </div>
  <div class="zidongtuisong">
      <div>一键订阅关键词</div>
      <div>招标信息自动推送</div>
      <img src="{$url}">
  </div>
</div>
<div class="c-banquan">
  <div>@2510-2018 xxxxxxxxx.com 版权所有 | 京ICP备123955489556</div>
</div>  