<extend name="temp/base" />
  <block name='style'>
  <style>
      .jiazaigenduo{background-color:#EEEEEE;width:100%;text-align: center;position:fixed;left:0;bottom:0;}
      .akdiawgaise{color:#222;}
  </style>
  </block>
<block name='body'>
<body>
<div class="kliehia">
  <div class="kaikuang">
  行业动态：  
  </div>

<!--   <volist name='data' id='item' empty="暂时没有数据">
  <a href="{:url('news_detail',['id'=>$item.id])}">
  <div class="dawissk">
    <img src="{$item.thumb}" style="width:100%;height:150px;">
  <div>{$item.textarea}</div>
  </div>
  </a>
  </volist> -->
  <!-- <a href="{:url('news_detail')}">
  <div class="dawissk">
    <img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:150px;">
  <div>济南历下控股集团有限公司是经济南市历下区人民政府批准组建成立的国有独资集团公司，为响应济南市委、市政府“打造四个中心。</div>
  </div>
  </a> -->
  <!-- <a href="{:url('news_detail')}">
  <div class="dawissk">
    <img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:150px;">
  <div>济南历下控股集团有限公司是经济南市历下区人民政府批准组建成立的国有独资集团公司，为响应济南市委、市政府“打造四个中心。</div>
  </div>
  </a>
  <div class="dawissk">
    <img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:150px;">
  <div>济南历下控股集团有限公司是经济南市历下区人民政府批准组建成立的国有独资集团公司，为响应济南市委、市政府“打造四个中心。</div>
  </div>
  <div class="dawissk">
    <img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:150px;">
  <div>济南历下控股集团有限公司是经济南市历下区人民政府批准组建成立的国有独资集团公司，为响应济南市委、市政府“打造四个中心。</div>
  </div> -->
</div>

<!-- <div class="sliderbar-container" style="width:100%;height:100%;">
  <div class="title" ><img src="__MOBILE_IMG__/new.png"> 新闻分类</div>
  <div class="body">
    <volist name='cate' id='item' empty="暂时没有数据">
    <a href="#" class="shujuzi" idda="{$item.id}">
      <span>{$item.title}</span>
      <span>88</span>
    </a>
    </volist>
    <a href="#">
      <span>行业动态</span>
      <span>88</span>
    </a>
    <a href="#">
      <span>公式公告</span>
      <span>88</span>
    </a>
    <a href="#">
      <span>党群工作</span>
      <span>88</span>
    </a>
    <a href="#">
      <span>培训与发展</span>
      <span>88</span>
    </a>
  </div>
  
</div> -->
<img src="__MOBILE_IMG__/fanhuid.png" class="guding" id="myBtn" style="display:none;" onclick="topFunction()">
<div class="jiazaigenduo" style="color:#222;padding:2% 0;">加载更多</div>
<script src="__MOBILE_JS__/jquery-1.11.3.min.js"></script>
<script src="__MOBILE_JS__/jquery.sliderBar.js"></script>
<script type="text/javascript">

 wao=1
 cate=0
 $.ajax({
    url: "{:url('active')}",
    type: 'post',
    dataType: 'JSON',
    data: {
      page:wao,
      cate:cate,

    },
    error: function(ee) {
       console.log(ee)
      return false;
    },
    success: function(data) {
    if(data.data.lengt<0){
      var zanwu="<div>暂无数据</div>"
       $(".kliehia").append(zanwu)
    }
    for(var i=0;i<data.data.length;i++){
 var haixing='<a href="{:url("news_detail")}?id='+data.data[i].id+'" class="akdiawgaise"><div class="dawissk"><img src="'+data.data[i].thumb+'" style="width:100%;height:150px;"><div>'+data.data[i].title+'</div></div></a>'
 $(".kliehia").append(haixing)
    }

      
    }
  })
$(function(){
  $('.sliderbar-container').sliderBar({
    open : false,           // 默认是否打开，true打开，false关闭
        top : 0,             // 距离顶部多高
        width : 150,           // body内容宽度
        height : 800,          // body内容高度
        theme : 'green',       // 主题颜色
        position : 'left'      // 显示位置，有left和right两种
  });
});
setTimeout(function(){
  $('.sliderbar-container').css("height","100%")
  $('.sliderbar-container').css("background","#FFF")
    $('.sliderbar-container').css("border","1px solid #B7041A")
  $('.title').css("top","78px")
}, 1000)
setTimeout(function(){
$('.title').css("background","#B7041A")
  $('.title').css("top","78px")
}, 1)
window.onscroll = function() {scrollFunction()};
 
function scrollFunction() {console.log(121);
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
 
// 点击按钮，返回顶部
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
$(".jiazaigenduo").click(function(){

$(".jiazaigenduo").text("正在加载.......")

  wao=wao+1
 setTimeout(function(){
$.ajax({
    url: "{:url('news')}",
    type: 'post',
    dataType: 'JSON',
    data: {
      page:wao,
      cate:cate,
    },
    error: function(ee){
       console.log(ee)
      return false;
    },
    success: function(data) {
    console.log(data)
      if(data.data==""){
     $(".jiazaigenduo").text("暂无数据")
    }else{
      $(".jiazaigenduo").text("加载更多")
    }
    for(var i=0;i<data.data.length;i++){
 var haixing='<a href="{:url("news_detail")}?id='+data.data[i].id+'" class="akdiawgaise"><div class="dawissk"><img src="'+data.data[i].thumb+'" style="width:100%;height:150px;"><div>'+data.data[i].title+'</div></div></a>'
 $(".kliehia").append(haixing)
    } 
    }
  })


 },1000)

})
$(".shujuzi").click(function(){
  // $(this)
  wao=1
  cate=$(this).attr("idda")
  $.ajax({
    url: "{:url('news')}",
    type: 'post',
    dataType: 'JSON',
    data: {
      page:wao,
      cate:cate,
    },
    error: function(ee){
       console.log(ee)
      return false;
    },
    success: function(data) {

    for(var i=0;i<data.data.length;i++){
 var haixing='<a href="{:url("news_detail")}?id='+data.data[i].id+'" class="akdiawgaise"><div class="dawissk"><img src="'+data.data[i].thumb+'" style="width:100%;height:150px;"><div>'+data.data[i].title+'</div></div></a>'
 $(".kliehia").html(haixing)
    } 
    }
  })
  $(".title").trigger("click")
  $(".jiazaigenduo").text("加载更多")
})
</script>
</body>
</block>