<!-- <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
	<link rel="stylesheet" href="__MOBILE_DIST__/idangerous.swiper.css">
	<link  rel="stylesheet" href="__MOBILE_CSS__/css.css">
	<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css" />
	<script charset="utf-8" type="text/javascript" src="http://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
	<script type="text/javascript" src="__MOBILE_JS__/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="__MOBILE_DIST__/idangerous.swiper.min.js"></script>
	<script type="text/javascript" src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="__MOBILE_JS__/flexible.js"></script>
	<script type="text/javascript" src="__MOBILE_JS__/iscroll.js"></script>
	<script type="text/javascript" src="__MOBILE_JS__/navbarscroll.js"></script> -->

<extend name="temp/base" />
<block name="style">
<style type="text/css">

#modelView{background-color:#DDDDDD;z-index:0;opacity:0.7;height: 100%;width: 100%;position: relative;}
.playvideo{padding-top: auto;z-index: 9999;position: relative;}
.zy_media{z-index: 999999999}
.qianjian{width:20px;height:20px;}
.cuoles>a{padding:0;}
.cuoles img{height:140px;}
.cuoles{padding:0 3%;}
.bdaiwu{width:70%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.wangxia{margin-top:5px;}
.news>a{border:1px solid #eee;display:block;padding:2%;margin:1% 0;}
.wrapper01 .scroller li a{line-height:1rem;}
.wrapper01{height:1rem;border-bottom:1px solid #eee;}
.askdwi{background:#FFF;}
.xinake{padding-bottom:0;height:280px;}
.xiangmu{padding:15px 3%;}
.cuoles{padding:2% 3%;}
.wangxia{padding-left:5%;}
.zheisi{border-bottom:1px solid #EEE;}
.cuoles>a{border:1px solid #EEE;padding-bottom:1%;}

</style>
 <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css">
     <script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
</block>
<block name='body'>
<body  onmousewheel="return false;">
  <div class="device">
    <a class="arrow-left" href="#"></a> 
    <a class="arrow-right" href="#"></a>
    <div class="swiper-container">
      <div class="swiper-wrapper">
      	<volist name='banner' id='vo'>
        <div class="swiper-slide"><img src="{$vo.thumb}" style="width:100%;height:100%;"> </div>
       </volist>
        <!-- <div class="swiper-slide"> <img src="__MOBILE_IMG__/slider1-2.png"  style="width:100%;height:100%;"> </div> -->
      </div>
    </div>
    <div class="pagination"></div>
  </div>
<div class="wrapper wrapper01" id="retr">
<div class="scroller">
	<ul class="clearfix askdwi">
		<li><a href="javascript:void(0)">首页</a></li>
		<li><a href="{:url('about')}">集团概况</a></li>
		<li><a href="{:url('news')}">新闻中心</a></li>
		<li><a href="{:url('service')}">集团业务</a></li>
		<li><a href="{:url('project')}">项目展示</a></li>
		<li><a href="{:url('branch')}">下属公司</a></li>
		<li><a href="{:url('party')}">党群工作</a></li>
		<li><a href="{:url('column')}">人才专栏</a></li>
		<li><a href="{:url('contact')}">联系我们</a></li>
	</ul>
</div>
</div>
<div style="height:180px;" >
<div class="playvideo" style="height:100%;overflow:hidden;">
	<div  style="overflow:hidden;">
    	<video   style="width:100%;height:180px;" controls  poster="__MOBILE_IMG__/huijin.jpg">
  <source src="http://{$video}" type="video/mp4" />
Your browser does not support the video tag.
</video>
	</div>
	</div>
</div>
<div class="zheisi">
	<div class="xiangmu">
		<div>
			<div>项目展示</div>
			<div>EVENT</div>
		</div>
		<a href="{:url('project')}">
			<div>更多</div>
		  <img src="__MOBILE_IMG__/qianjin.png" class="qianjian">
		</a>
	</div>
	<div class="cuoles">
		<volist name='project' id='item'>
		<if condition="$key lt 2">
		<a href="{:url('news_detail',['id'=>$item.id])}">
			<img src="{$item.thumb}">
			<div class="wangxia">{$item.title}</div>
		</a>
		</if>
		</volist>
			<!-- <a href="{:url('detail')}">
			<img src="__MOBILE_IMG__/huijin.jpg">
			<div>济南历下金融中心位于济南中央商务区核心区，南邻经十东路，东邻山东能源集团大厦。</div>
		</a> -->
	</div>
		<div class="cuoles">
		<volist name='project' id='item'>
		<if condition="$key egt 2">
		<a href="{:url('detail',['id'=>$item.id])}">
			<img src="{$item.thumb}">
			<div class="wangxia">{$item.title}</div>
		</a>
		</if>
		</volist>
			<!-- <a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg">
			<div>济南历下金融中心位于济南中央商务区核心区，南邻经十东路，东邻山东能源集团大厦。</div>
		</a> -->
	</div>
</div>
<div class="zheisi">
	<div class="xiangmu">
		<div>
			<div>集团新闻</div>
			<div>NEWS</div>
		</div>
		<a href="{:url('news')}">
			<div>更多</div>
		  <img src="__MOBILE_IMG__/qianjin.png" class="qianjian">
		</a>
	</div>
	<div class="news">
		<volist name='news' id='item'>
		<a href="{:url('news_detail',['id'=>$item.id])}#">
			<img src="{$item.thumb}" style="width:100%;">
			<div class="zhende">
				<div class="bdaiwu">{$item.title}</div>
				<div>{$item.create_time}</div>
			</div>
		</a>
		</volist>
		<!-- <a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:200px;">
			<div class="zhende">
				<div>济南历下金融中心位于济南中央商务区核心区。</div>
				<div>2018-09-12</div>
			</div>
		</a>
		<a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:200px;">
			<div class="zhende">
				<div>济南历下金融中心位于济南中央商务区核心区。</div>
				<div>2018-09-12</div>
			</div>
		</a> -->
	</div>
</div>
<div class="zheisi">
	<div class="xiangmu">
		<div>
			<div>行业动态</div>
			<div>Dynamic</div>
		</div>
		<a href="{:url('active')}">
			<div>更多</div>
		  <img src="__MOBILE_IMG__/qianjin.png" class="qianjian">
		</a>
	</div>
	<div class="news">
		<volist name='active' id='item'>
		<a href="{:url('news_detail',['id'=>$item.id])}#">
			<img src="{$item.thumb}" style="width:100%;">
			<div class="zhende">
				<div class="bdaiwu">{$item.title}</div>
				<div>{$item.create_time}</div>
			</div>
		</a>
		</volist>
		<!-- <a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:200px;">
			<div class="zhende">
				<div>济南历下金融中心位于济南中央商务区核心区。</div>
				<div>2018-09-12</div>
			</div>
		</a>
		<a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:200px;">
			<div class="zhende">
				<div>济南历下金融中心位于济南中央商务区核心区。</div>
				<div>2018-09-12</div>
			</div>
		</a> -->
	</div>
</div>
<div class="zheisi">
	<div class="xiangmu">
		<div>
			<div>公示公告</div>
			<div>Notice</div>
		</div>
		<a href="{:url('notice')}">
			<div>更多</div>
		  <img src="__MOBILE_IMG__/qianjin.png" class="qianjian">
		</a>
	</div>
	<div class="news">
		<volist name='notice' id='item'>
		<a href="{:url('news_detail',['id'=>$item.id])}#">
			<img src="{$item.thumb}" style="width:100%;height:200px;">
			<div class="zhende">
				<div class="bdaiwu">{$item.title}</div>
				<div>2018-06-12</div>
			</div>
		</a>
		</volist>
		<!-- <a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:200px;">
			<div class="zhende">
				<div>济南历下金融中心位于济南中央商务区核心区。</div>
				<div>2018-09-12</div>
			</div>
		</a>
		<a href="#">
			<img src="__MOBILE_IMG__/huijin.jpg" style="width:100%;height:200px;">
			<div class="zhende">
				<div>济南历下金融中心位于济南中央商务区核心区。</div>
				<div>2018-09-12</div>
			</div>
		</a> -->
	</div>
</div>
<div class="suoyouban">
	<p>{:config('WEB_SITE_COPYRIGHT')}</p>
	<p>{:config('WEB_SITE_ICP')}</p>
</div>
</body>
<script type="text/javascript">
    
	var url= "{$video}";
	var ki="http://"+url
	console.log(2132134);
	console.log("{$video}");
$(function(){
	//demo示例一到四 通过lass调取，一句可以搞定，用于页面中可能有多个导航的情况
	$('.wrapper').navbarscroll();
});
  var mySwiper = new Swiper('.swiper-container',{
    pagination:'.pagination',
    loop:true,
    grabCursor:true,
    paginationClickable:true
  })
  $('.arrow-left').on('click', function(e){
    e.preventDefault()
    mySwiper.swipePrev()
  })
  $('.arrow-right').on('click', function(e){
    e.preventDefault()
    mySwiper.swipeNext()
  })
</script>

</block>
