<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$title}</title>
  <link rel="stylesheet" href="__MOBILE_DIST__/idangerous.swiper.css">
<link  rel="stylesheet" href="__MOBILE_CSS__/css.css">
<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css" />
     <script charset="utf-8" type="text/javascript" src="http://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
     <script type="text/javascript" src="__MOBILE_JS__/flexible.js"></script>
     <link rel="stylesheet" type="text/css" href="__MOBILE_CSS__/font-awesome.css"/>
    </head>
</head>
<body>
 <!--  <div class="xinwenneirong">
  	<div></div>
  	<div class="xinwen">{$data.title}</div>
  	<a href="javascript:history.back(-1)">
  	  <img src="__MOBILE_IMG__/fanhuis.png" style="width:30px;height:30px;">
  	</a>
  </div> -->
 <div class="kdaiwdal">
 	{$data.content}
 </div>
<!--  <div class="dlawjodwa"><img src="__MOBILE_IMG__/huijin.jpg"></div> -->
<!--  <div class="zhaopinxin">招聘信息</div> -->
</body>
</html>