<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{$title}</title>
<link rel="stylesheet" href="__MOBILE_DIST__/idangerous.swiper.css">
<link  rel="stylesheet" href="__MOBILE_CSS__/css.css">
<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css" />
     <script charset="utf-8" type="text/javascript" src="http://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
     <script type="text/javascript" src="__MOBILE_JS__/flexible.js"></script>
     <link rel="stylesheet" type="text/css" href="__MOBILE_CSS__/font-awesome.css"/>
  <style>
.akdiawgaise{color:#222;}
.kliehia{margin-bottom:75px;}
  </style>
</head> -->
<extend name="temp/base" />
<block name='style'>
<style>
  .akdiawgaise{color:#222;}
  .kliehia{margin-bottom:75px;}
  .jiazaigenduo{background-color:#EEEEEE;width:100%;text-align: center;position:fixed;left:0;bottom:0;}
       .akdiawgaise{color:#222;display:block;}
    .kliehia{margin-bottom:75px;}
       .suibiangai{width:100%;background-color:#FFF;height:auto;position:fixed;left:0;padding:2%;border-bottom:1px solid #B7041A;color:#FFF;}
       .henkuai{position:relative;height:100%;}
       .dakwixj{position:absolute;top:120%;right:5%;}
       .shujuzi{padding:2% 0;border-bottom:1px solid #fff;}
       .suibiangai{background-color:#EEE;}
       .moren{margin-top:2%;}
       .dawissk{margin:1%;}
       .shujuzi{color:#222;}
       .kliehia>a{border:1px solid #eee;display:block;margin:1% 0;}
       .kliehia{padding:3% 4%;}
       .shujuzi{padding-left:2%;}
       .akdiawgaise{padding:1%;}
</style>
</block>
<block name='body'>
<body>
<div>
<div class="henkuai">
  <volist name='cate' id='item' empty="暂时没有数据">
    <div  target="_parent" class="shujuzi" idda="{$item.id}" style="display:block;">
      <span>{$item.title}</span>
    </div>
    </volist>
    <!-- <div style="width:28px;height:120px;background:url(__MOBILE_IMG__/shuqian.png) no-repeat; color:#FFF;padding-top:5px;text-align: center;font-size:15px;" dataolop="1" class="dakwixj">
    业务分类
    </div> -->
   
</div>
</div>
<div>
<!--   <div class="kaikuang">
  集团业务：  
  </div> -->
  <div  class="kliehia">


  </div>

</div>


<img src="__MOBILE_IMG__/fanhuid.png" class="guding" id="myBtn" style="display:none;" onclick="topFunction()">
<div class="jiazaigenduo" style="background-color:#EEEEEE;width:100%;text-align: center;position:fixed;left:0;bottom:0;padding:2% 0;">加载更多</div>
<script src="__MOBILE_JS__/jquery-1.11.3.min.js"></script>
<script src="__MOBILE_JS__/jquery.sliderBar.js"></script>
<script type="text/javascript">
$(".shujuzi>span:eq(0)").css("color","red")
$(".shujuzi>span").click(function(){
 $(".shujuzi>span").css("color","#222222")
  $(this).css("color","red")
})
$(".shujuzi:last").css("border-bottom","0")
var jia=$('.suibiangai').height()+13
var gao=$('.suibiangai').height()+5
$(".dakwixj").css("top",gao+"px")
$(".suibiangai").css("top","-"+jia+"px")
$(".dakwixj").click(function(){
  if($(this).attr("dataolop")=="1"){
        $(".suibiangai").animate({
    top:'0px',
  });
        $(this).attr("dataolop","2")
      }else{
    var jian=$('.suibiangai').height()+18
  $(".suibiangai").animate({
    top:"-"+jian+'px',
  });
   $(this).attr("dataolop","1")
      }
     // $(".suibiangai").animate({top,"0px"})
  
// $(".suibiangai").css("top","0")
})
 wao=1
 cate=0
 $.ajax({
    url: "{:url('service')}",
    type: 'post',
    dataType: 'JSON',
    data: {
      page:wao,
      cate:cate,

    },
    error: function(ee) {
       console.log(ee)
      return false;
    },
    success: function(data) {
    if(data.data.lengt<0){
      var zanwu="<div>暂无数据</div>"
       $(".kliehia").append(zanwu)
    }
    for(var i=0;i<data.data.length;i++){
 var haixing='<a href="{:url("news_detail")}?id='+data.data[i].id+'" class="akdiawgaise"><div class="dawissk"><img src="'+data.data[i].thumb+'" style="width:100%;"><div class="moren">'+data.data[i].title+'</div></div></a>'
 $(".kliehia").append(haixing)
    }

      
    }
  })
$(function(){
  $('.sliderbar-container').sliderBar({
    open : false,           // 默认是否打开，true打开，false关闭
        top : 0,             // 距离顶部多高
        width : 200,           // body内容宽度
        height : 240,          // body内容高度
        theme : 'green',       // 主题颜色
        position : 'left'      // 显示位置，有left和right两种
  });
});
setTimeout(function(){
  $('.sliderbar-container').css("height","100%")
  $('.sliderbar-container').css("background","#FFF")
    $('.sliderbar-container').css("border","1px solid #B7041A")
  $('.title').css("top","78px")
}, 1000)
setTimeout(function(){
$('.title').css("background","#B7041A")
  $('.title').css("top","78px")
}, 1)
window.onscroll = function() {scrollFunction()};
 
function scrollFunction() {console.log(121);
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}
 
// 点击按钮，返回顶部
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
$(".jiazaigenduo").click(function(){

$(".jiazaigenduo").text("正在加载.......")

  wao=wao+1
 setTimeout(function(){
$.ajax({
    url: "{:url('service')}",
    type: 'post',
    dataType: 'JSON',
    data: {
      page:wao,
      cate:cate,
    },
    error: function(ee){
       console.log(ee)
      return false;
    },
    success: function(data) {
    console.log(data)
      if(data.data==""){
     $(".jiazaigenduo").text("暂无数据")
    }else{
      $(".jiazaigenduo").text("加载更多")
    }
    for(var i=0;i<data.data.length;i++){
 var haixing='<a href="{:url("news_detail")}?id='+data.data[i].id+'" class="akdiawgaise"><div class="dawissk"><img src="'+data.data[i].thumb+'" style="width:100%;"><div class="moren">'+data.data[i].title+'</div></div></a>'
 $(".kliehia").append(haixing)
    } 
    }
  })


 },1000)

})
$(".shujuzi").click(function(){
  // $(this)
  wao=1
  cate=$(this).attr("idda")
  $.ajax({
    url: "{:url('service')}",
    type: 'post',
    dataType: 'JSON',
    data: {
      page:wao,
      cate:cate,
    },
    error: function(ee){
       console.log(ee)
      return false;
    },
    success: function(data) {
      $(".kliehia").html("")
var jian=$('.suibiangai').height()+18
  $(".suibiangai").animate({
    top:"-"+jian+'px',
  });
   $(this).attr("dataolop","1")
   if(data.data.length<=0){
 $(".kliehia").html("")
  $(".jiazaigenduo").text("暂无数据")
   }else{
    for(var i=0;i<data.data.length;i++){
 var haixing='<a href="{:url("news_detail")}?id='+data.data[i].id+'" class="akdiawgaise"><div class="dawissk"><img src="'+data.data[i].thumb+'" style="width:100%;"><div  class="moren">'+data.data[i].title+'</div></div></a>'
 $(".kliehia").append(haixing)
    } 
  }
    }
  })
  $(".title").trigger("click")
  $(".jiazaigenduo").text("加载更多")
})
</script>
</body>
</block>