<html>
	<head>
		<title></title>
	   <meta charset="UTF-8">
	   <link rel="stylesheet" type="text/css" href="css/css.css"/>
	   <style>
         .dichan>div{width:100%;text-align: center;line-height:2;font-size:40px;}
         .qixia{padding:0 10%;}
         .diachan{font-size:24px;padding-top:3%;}
	   </style>
	</head>
	<body style="background:#FFF;">
		<img src="img/tianxing.jpg" style="width:100%;">
		<div class="dichan">
			<div>地产集团旗下楼盘开启女神节活动</div>
			<div>[2017-08-01]</div>
		</div>
		<div class="qixia">
			<img src="img/xian.png">
			<div class="diachan">地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动地产集团旗下楼盘开启女神节活动</div>
		</div>
	</body>
</html>