<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="stylesheet" href="__MOBILE_DIST__/idangerous.swiper.css">
<link  rel="stylesheet" href="__MOBILE_CSS__/css.css">
<link rel="stylesheet" href="http://g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css" />
     <script charset="utf-8" type="text/javascript" src="http://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
     <script type="text/javascript" src="__MOBILE_JS__/flexible.js"></script>
     <link rel="stylesheet" type="text/css" href="__MOBILE_CSS__/font-awesome.css"/>
    </head>
</head>
<body>
 <div class="xinwenneirong">
  	<div></div>
  	<div class="xinwen">项目详细</div>
  	<a href="javascript:history.back(-1)">
  	  <img src="__MOBILE_IMG__/fanhuis.png" style="width:30px;height:30px;">
  	</a>
  </div>
  <div class="gaizao">
  	丁家村旧村改造项目
  </div>
  <div class="device">
    <a class="arrow-left" href="#"></a> 
    <a class="arrow-right" href="#"></a>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="__MOBILE_IMG__/slider1-1.png" style="width:100%;height:100%;"> </div>
        <div class="swiper-slide"> <img src="__MOBILE_IMG__/slider1-2.png"  style="width:100%;height:100%;"> </div>
      </div>
    </div>
    <div class="pagination"></div>
  </div>
  <div class="gaizao">项目介绍</div>
  <div class="shawanyi">
  	丁家村旧村改造项目位于工业南路以南、奥体西路以东、项目总用地约700亩，济南市历下区城市更新建设发展有限公司作为项目实施主体，具体负责。
  	丁家村旧村改造项目位于工业南路以南、奥体西路以东、项目总用地约700亩，济南市历下区城市更新建设发展有限公司作为项目实施主体，具体负责。丁家村旧村改造项目位于工业南路以南、奥体西路以东、项目总用地约700亩，济南市历下区城市更新建设发展有限公司作为项目实施主体，具体负责。丁家村旧村改造项目位于工业南路以南、奥体西路以东、项目总用地约700亩，济南市历下区城市更新建设发展有限公司作为项目实施主体，具体负责。
  	 <img src="__MOBILE_IMG__/huijin.jpg">
  </div>
 <div class="shangyitaiop">
 	<a href="#">上一条</a>
 	<a href="#">下一条</a>
 </div>
 <script charset="utf-8" type="text/javascript" src="http://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
  <script type="text/javascript" src="__MOBILE_JS__/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="__MOBILE_DIST__/idangerous.swiper.min.js"></script>
  <script type="text/javascript" src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="__MOBILE_JS__/flexible.js"></script>
  <script type="text/javascript" src="__MOBILE_JS__/iscroll.js"></script>
  <script type="text/javascript" src="__MOBILE_JS__/navbarscroll.js"></script>
<script>
$(function(){
  //demo示例一到四 通过lass调取，一句可以搞定，用于页面中可能有多个导航的情况
  $('.wrapper').navbarscroll();
});
  var mySwiper = new Swiper('.swiper-container',{
    pagination:'.pagination',
    loop:true,
    grabCursor:true,
    paginationClickable:true
  })
  </script>
</body>
</html>